<div class="products">
    
    
    <form class="form form--js" method="post" action="/list/product/add">
        <p>
            <input class="form__input form__input--js" type="text" name="name" id="name"
                aria-label="Wprowadź nazwę produktu" placeholder="<%= errors?.name ? errors.name.message : '' %>">
            <input class="form__button" type="submit" value="+" aria-label="Dodaj produkt">
        </p>
    </form>
    <ul class="products-list products-list--js">
        <% if (products) { 
            for(let product of products) { %>
                <li class="products-list__item" data-product-id="0"><span class="product-list__item-text"><%= product.name %></span><i class="far fa-trash-alt products-list__delete-icon"></i></li>
        <% }} %>
                
    </ul>
</div>

<script>
    const form = document.querySelector('.form');
    document.addEventListener('DOMContentLoaded', () => {
        form.name.focus();
    })
</script>