<div class="products">
    <form class="form form--js" method="post" action="/list/product/add">
        <p>
            <input class="form__input form__input--js" type="text" name="name" id="name"
                aria-label="Wprowadź nazwę produktu">
            <input class="form__button" type="submit" value="+" aria-label="Dodaj produkt">
        </p>

    </form>
    <ul class="products-list products-list--js">

    </ul>
</div>

